{% extends "blog/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="add"><a href="{% url 'cv_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a></div>
    {% endif %}
    <h1>My CV</h1>
    <div class="border">
        <h2>Basic Information</h2>
        {% for info in infos %}
            {{info.text|safe}}
        {% endfor%}
    </div>
    <br>
    <div class="border">
        
        <h2>Education</h2>
        {% for education in educations %}
            {{education.text|safe}}
        {% endfor %}   
    </div>
    <br>
    <div class="border">
        <h2>Work Experience</h2>
        {% for work in works %}
            {{work.text|safe}}
        {% endfor %}
    </div>
    <br>
    <div class="border">
        <h2>Skills</h2>
        {% for skills in skillss %}
            <h2>{{skills.text|safe}}</h2>
        {% endfor %}
    </div>
    <br>
    <div class="border">
        <h2>Voluneering</h2>
        {% for voluneering in voluneerings %}
            <h2>{{voluneering.text|safe}}</h2>
        {% endfor %}
    </div>

{% endblock %}