.page-header {
    /* background-color: #C25100; */
    background-color: #e0e0e0;
    margin-top: 0;
    padding: 20px 20px 20px 80px;
    
}
.title{
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 36pt;
    color: #ffffff;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5fcb71 ;
    overflow: hidden;
    padding-top: 20px;
    
}


.content {
    margin-left: 400px;
}

h1{
    /* text-align: center; */
    font: bold;
    /* font-family: 'Lobster', cursive; */
    text-align: center;
    margin-left: 200px;
    /* margin-top: 80px;    */

}

.heading{
    font: bold;
    text-align: center;
    margin-left: 200px;
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: 50px;
    /* left: 55%; */
}

.heading2{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 20px;
    /* margin-top: 130px; */
    margin-left: 200px;
    color: #828282;
    margin-bottom: 30px;

}


/* h2, h3, h4 {
    font-family: 'Lobster', cursive;
} */

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: gray;
    float: right;
    /* line-height: -700px; */
    font-size: 16pt;
    margin-right: 20px;
    margin-bottom: -20px;
}

.sideimg{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sideimg img{
    width: 180px;
    height: 256px;
    /* text-align: center; */
}

.intro{
    /* margin-top: 250px; */
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.post {
    margin-bottom: 70px;
    margin-left: 100px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 80px;
}

.indexback {
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-origin:border-box;
    background-image: url(../index.jpg);
    background-position: center;
}

.linkmenu{
    text-align: center;
    font-style: italic;
    /* color: #828282; */
    font-size: 22pt;
}

.greylink{
color: #25863d86;

}

.border{
    border-style: solid;
    border-color: grey;
}